*{
    margin: 0px;
}
body{
    background-color: rgb(19, 19, 19);
}
.header {
    justify-content: center;
    display: flex;
    align-items: center;
    scale: 30%;
    margin-top: -200px;
}
.header img{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
body h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: -220px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
h1 span{
    margin-left:15px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    scale: 100%;
    gap: 10px;
}
form button{
    transition: 0.3s;
}
.buttons form button:hover{
    transform: scale(1.1);
    color: rgb(120, 70, 255);
    background: white;
}
.buttons form button {
    font-size: 1rem;
    background: rgb(127, 224, 216);
    border: none;
    color: rgb(27, 27, 27);
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    border-radius: 0.8rem;
    font-weight: bold;
}
.footer{
    display: flex;
    justify-content: center;
    border: none;
}
.footer h1{
    scale: 70%;
    margin-top: 100px;
    margin-bottom: none;
}
.git {
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.git button{
    position: relative;
    top: 100px;
    border: none;
    scale: 10%;
    background: none;
    margin-top: -370px;
    cursor: pointer;
    transition: transform 0.3s;
}
.git button:hover{
    transform: scale(1.1);
}
#console {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #333; /* Background color */
    color: rgb(74, 252, 252); /* Text color (white) */
    font-family: monospace; /* Use a monospaced font for code-like appearance */
    padding: 10px;
    overflow-y: hidden;
    /*height: 300px; for chrome-app*/
    height: 150px;
    /*margin-top: 30px;
    margin-left: 500px;*/
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
    font-size: 20px;
}