*{
    margin: 0px;
}
body{
    background-color: rgb(19, 19, 19);

}

.header {
    justify-content: center;
    display: flex;
    align-items: center;
    scale: 60%;
    margin-top: -30px;
}
.header img{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
body h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: -100px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
h1 span{
    margin-left:15px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    scale: 100%;
    gap: 80px;
}
form button{
    transition: 0.3s;
}
.buttons form button:hover{
    transform: scale(1.1);
    color: rgb(120, 70, 255);
    background: white;
}
.buttons form button {
    font-size: 1rem;
    background: rgb(127, 224, 216);
    border: none;
    color: rgb(27, 27, 27);
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    border-radius: 0.8rem;
    font-weight: bold;
    scale: 150%;
}
.footer{
    display: flex;
    justify-content: center;
    border: none;
}
.footer h1{
    scale: 80%;
    margin-top: 270px;
}
.git {
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.git button{
    position: relative;
    top: 100px;
    border: none;
    scale: 15%;
    background: none;
    margin-top: -370px;
    cursor: pointer;
    transition: transform 0.3s;
}
.git button:hover{
    transform: scale(1.1);
}
