*{
    margin: 0px;
    background-color: rgb(19, 19, 19);
}
div {
    justify-content: center;
    display: flex;
    align-items: center;
    scale: 30%;
    margin-top: -370px;
}
div .img{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
body h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: -350px;
}
h1 span{
    margin-left:15px;
}
